<header>
  <div class="logo">
    <a href="/">
      <img
        src="https://the.streameast.app/images/logo.png"
        alt="Logo Futbol Libre Max"
      />
    </a>
  </div>
  <nav>
    <a href="/multi-stream">
      <span class="new-badge">Nuevo</span>
      Multi-Stream
    </a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(33, 135, 15);
    background: linear-gradient(
      90deg,
      rgba(33, 135, 15, 1) 26%,
      rgba(0, 179, 101, 1) 100%
    );
    padding: 10px 20px; /* Espaciado arriba/abajo y laterales */
    font-family: Arial, sans-serif;
    height: 30px;
  }

  /* Logo Styling */
  .logo img {
    width: 100px; /* Ajusta el tamaño del logo */
    height: auto;
    display: block;
  }

  .logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  /* Navigation Styling */
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #fff; /* Blanco */
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s;
  }

  nav ul li a:hover {
    color: #000; /* Negro al hacer hover */
  }

  .new-badge {
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 5px;
    margin-left: 5px;
    border-radius: 3px;
    animation: bounce 1s infinite alternate;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(0);
    }
  }
</style>
