---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1 class="title">TyC Sports</h1>

    <div class="reproduction">
      <iframe
        width="100%"
        height="90%"
        src="https://la12hd.com/vivo/canales.php?stream=dsports2"
        frameborder="0"></iframe>
    </div>
    <button class="refresh-button">Recargar</button>
    <img
      src="https://librefutbol.su/wp-content/uploads/2022/12/tyc.jpg"
      alt="TYC Sports"
    />

    <h2>Exploración del canal TyC Sports en transmisión en vivo</h2>
    <p>
      Descubre <span>TyC Sports</span>, una señal televisiva argentina
      especializada en deportes. Disponible online, TyC Sports ofrece cobertura
      en vivo de eventos deportivos, incluyendo partidos de fútbol argentino, la
      Copa Argentina y encuentros de la selección Argentina en las eliminatorias
      sudamericanas. Con una programación deportiva las 24 horas, el canal se
      enfoca en una variedad de disciplinas y competiciones atléticas.
    </p>
    <h2>Cómo acceder a TyC Sports online</h2>
    <p>
      Para sintonizar <span>TyC Sports</span> en vivo, visita <span
        >Futbol Libre TV</span
      > y selecciona el logo de TyC Sports o "Ver Canal". Luego, reproduce el contenido
      También puedes acceder a través de TyCSportsPlay.com, disponible en computadoras
      desde el reproductor ubicado bajo "Ver TyC Sports online en VIVO y en directo".
      y dispositivos móviles, así como en televisores con <span>Chromecast</span
      >.
    </p>
    <h2>Contenido disponible en TyC Sports: Transmisión 24/7</h2>
    <p>
      La programación de <span>TyC Sports</span> incluye una amplia gama de deportes,
      desde fútbol, básquet y vóley, hasta boxeo y tenis. Disfruta en vivo de la
      Copa Argentina, partidos de la selección argentina, competiciones de la Primera
      B Nacional, la Liga Nacional de Básquet, y más en TyC Sports.
    </p>
  </div>
</Layout>
<style>
  .container {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    align-self: center;
    border-radius: 10px;
  }
  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: bold;
  }
  .reproduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* Aspect Ratio 16:9 */
    padding-bottom: 56.25%;
  }
  .reproduction iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  .refresh-button {
    background-color: #7800b4;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 1rem;
    margin: 20px;
    width: 100%;
  }
  .refresh-button:hover {
    background-color: cadetblue;
  }
  span {
    color: cadetblue;
  }
  h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }
  p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
</style>
