---
import MultiStreamSelect from "../../components/features/MultiStreamSelect.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="content">
    <MultiStreamSelect />
  </div>
</Layout>

<style>
  .content {
    flex: 1;
    padding: 1.25rem;
    text-align: center;
  }
</style>
